$dark-sidebar: #333;
$dark-editor: #3f3f3f;

.dark {
  .main-nav {
    color: $light-font-color;
  }

  .note-sidebar {
    background: darken($dark-sidebar, 4%);
    border-right: 1px solid darken($dark-sidebar, 8%);

    .note-sidebar-header {
      color: $light-font-color;

      [type="search"] {
        background: darken($dark-sidebar, 8%);
        color: $light-font-color;
        border: 1px solid darken($dark-sidebar, 8%);
      }
    }
    .note-list {
      .note-list-each {
        border-bottom: 1px solid darken($dark-sidebar, 8%);
        color: darken($light-font-color, 10%);

        &:hover {
          background: darken($dark-sidebar, 5%);
        }

        @include small-breakpoint {
          &.active {
            color: white;
            background: darken($primary, 20%);
          }
        }
      }
    }
  }

  .editor {
    background: #222 !important;
  }

  .alternates-tool-container {
    .alternates-tool {
      background: $dark-sidebar;
      color: $light-font-color;
    }
  }
}
