.app {
  height: 100vh;
  display: flex;
}

.main-nav {
  flex: 0;

  @include small-breakpoint {
    flex: 0 0 $app-sidebar-width;
  }

  &.open {
    flex: 0 0 $note-sidebar-width;
  }
}

.secondary-nav {
  flex: 1;

  &.note-open {
    flex: 0;
  }

  @include small-breakpoint {
    flex: 0 0 $note-sidebar-width;

    &.note-open {
      flex: 0 0 $note-sidebar-width;
    }
  }
}

.editor {
  flex: 0;
  width: 0;

  @include small-breakpoint {
    flex: 1;
  }
}
