.main-nav {
  background: $app-sidebar-color;
  color: $light-font-color;
  border-right: 1px solid darken($app-sidebar-color, 10%);

  .options-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .action-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: darken($app-sidebar-color, 3%);
    padding: 1rem;
    margin: 0.5rem 1rem;
    border: none !important;

    span {
      height: 20px;
      width: 20px;
    }
    &:hover {
      background: $primary;
      outline: none;

      .action-button-icon {
        stroke: white;
      }
    }
    &:focus {
      outline: none;
    }

    .main-nav-action-button-icon {
      stroke: $light-font-color;
    }
  }
}
