.main-nav {
  transition: all 0.3s ease;
  padding: 1rem 0 0.25rem;
  background: $app-sidebar-color;
  color: $light-font-color;
  display: flex;
  flex-direction: column;
  border-right: 1px solid darken($app-sidebar-color, 10%);
  overflow-x: hidden;
  z-index: 5;

  @include small-breakpoint {
    width: $app-sidebar-width;
    transform: translate3D(0, 0, 0);
  }
  &.open {
    flex: 0 0 $note-sidebar-width;
    transition: all 0.3s ease;
    transform: translate3D(0, 0, 0);
  }

  &-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    max-width: calc(#{$app-sidebar-width} - 10px);
  }

  .action-button {
    // cursor: pointer;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
    background: darken($app-sidebar-color, 3%);
    padding: 0.7rem;
    margin: 0 0.5rem;
    border: none !important;

    span {
      height: 20px;
      width: 20px;
    }
    &:hover {
      background: $primary;
      outline: none;

      .action-button-icon {
        stroke: white;
      }
    }
    &:focus {
      outline: none;
    }

    .action-button-icon {
      stroke: $light-font-color;
    }
  }

  &-body {
    flex: 1;
    padding-bottom: 3rem;

    h2 {
      margin: 0;
      color: lighten($app-sidebar-color, 20%);
      text-transform: uppercase;
      font-size: 0.7rem;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;

    &:hover {
      background: lighten($app-sidebar-color, 5%);
    }

    &.active {
      color: white;
      background: darken($app-sidebar-color, 5%);

      svg {
        stroke: $primary;
      }
    }
    svg {
      stroke: rgba(255, 255, 255, 0.25);
    }
  }
  &-icon {
    margin-right: 0.75rem;
  }

  .category {
    &-title {
      margin-top: 1rem;
      padding: 0.5rem;
    }

    &-list {
      font-size: 0.9rem;

      &-each {
        cursor: pointer;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
          background: lighten($app-sidebar-color, 5%);

          .category-options {
            color: lighten($app-sidebar-color, 20%);
          }
        }

        &.active {
          background: darken($app-sidebar-color, 5%);

          .category-list-name {
            svg {
              stroke: $primary;
            }
          }
        }
        svg {
          stroke: rgba(255, 255, 255, 0.25);
        }
      }

      &-name {
        display: flex;
        align-items: center;
      }

      .category-options {
        color: transparent;
      }
    }
    &-button {
      display: flex;
      align-items: center;
      padding: 0;
      color: darken($light-font-color, 25%);
      font-size: 0.8rem;
      background: transparent;
      border: none;
      margin: 1rem 0.5rem;

      svg {
        margin-right: 0.75rem;
      }
      &:hover {
        color: white;
      }
    }
  }

  &-synced {
    display: none;

    @include small-breakpoint {
      display: block;
      border-top: 1px solid darken($app-sidebar-color, 5%);
      border-right: 1px solid darken($app-sidebar-color, 10%);
      position: absolute;
      bottom: 0;
      width: $app-sidebar-width;
      padding: 0.5rem;
      background: $app-sidebar-color;

      .last-synced {
        display: flex;
        align-items: center;
        color: lighten($app-sidebar-color, 30%);
        font-size: 0.75rem;
      }
    }
  }
}
