.preview-button {
  display: none;

  @include small-breakpoint {
    display: flex;
    align-items: center;
    position: absolute;
    color: $font-color;
    top: 1rem;
    right: 1rem;
    box-shadow: none;
    border: none;
    background-color: $note-sidebar-color;
    font-weight: 500;
    padding: 0.5rem;
    font-size: 0.8rem;
    z-index: 2;
    box-shadow: $box-shadow;

    &:hover,
    &:focus {
      border: none;
      color: darken($font-color, 10%);
      background-color: darken($note-sidebar-color, 5%);
    }
  }
}
